<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      Yield<span>Tra</span>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#home" class="nav__link">Главная</a></li>
        <li><a href="./#about" class="nav__link">О платформе</a></li>
        <li><a href="./#benefits" class="nav__link">Преимущества</a></li>
        <li><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li><a href="./#blog" class="nav__link">Ваш путь</a></li>
      </ul>
    </nav>
    <div class="header__actions">
      <a href="./#contact" class="btn btn--outline">Связаться</a>
      <button class="burger" aria-label="Menu">
        <span></span>
      </button>
    </div>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <nav class="mobile-nav">
    <ul>
      <li><a href="./#home">Главная</a></li>
      <li><a href="./#about">О платформе</a></li>
      <li><a href="./#benefits">Преимущества</a></li>
      <li><a href="./#innovations">Инновации</a></li>
      <li><a href="./#blog">Путь обучения</a></li>
      <li><a href="./#contact" class="btn btn--primary">Начать сейчас</a></li>
    </ul>
  </nav>
</div>